{{ define "main" }}
<div class="container">
    <main class="flex flex-col items-center">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.css">
        <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.js"></script>

        <style>
            .carousel-cell {
                display: block;
            }

            /* position dots up a bit */
            .flickity-page-dots {
                bottom: -22px;
            }

            /* dots are lines */
            .flickity-page-dots .dot {
                height: 4px;
                width: 40px;
                margin: 0 0.25em;
                border-radius: 0;
                background-color: white;
            }
        </style>
        {{/*  <h1>{{.Page}}</h1>  */}}
        <!-- Ranges through content/photos/*.md -->
        {{ range .Pages }}
        <div class="max-w-3xl w-full mb-52">
            <a href="{{.Permalink}}">
                <h2 class="font-normal text-white decoration-1">{{.Title}}</h2>
            </a>

            {{/*  {{ with .Resources.ByType "image" }}
            {{ range . }}
            <img src="{{ .RelPermalink }}" />
            {{ end }}
            {{ end }} */}}
            <div class="carousel mt-4 mb-8"
                data-flickity='{ "imagesLoaded": true, "percentPosition": false,  "prevNextButtons": false, "adaptiveHeight": true }'>
                {{ $image := (.Page.Resources.ByType "image") }}
                {{ with $image }}
                {{ range . }}
                {{/*  {{ $resized := .Fill "150x115 q20" }} */}}
                <img class="carousel-cell max-w-full w-auto h-auto m-auto" src="{{ .RelPermalink }}" />
                {{ end }}
                {{ end }}
            </div>
            <div>
                <span>
                    This is the text describing the images above...
                </span>
                <a class=""> See more</a>
            </div>
        </div>
        {{ end }}
    </main>
</div>
{{ end }}