<nav class="w-full flex flex-row justify-center 
            font-sans text-lg p-3 
            bg-black
            pointer-events-auto">
    <a href="/photos/">
        <button class="w-32 h-12 rounded-full hover:text-gray-800 hover:bg-red-400">
            Photos
        </button>
    </a>
    <button class="w-32 h-12 rounded-full mx-1.5 hover:text-gray-800 hover:bg-blue-400">
        Projects
    </button>
    <button class="w-32 h-12 rounded-full hover:text-gray-800 hover:bg-green-400">
        Notes
    </button>
</nav>