<nav id="navbar" class="w-full flex flex-row justify-center 
            font-sans text-lg p-3 
            bg-black
            pointer-events-auto">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    {{ $isMenuCurrent := $currentPage.IsMenuCurrent "main" . }}
        <a href="{{.URL}}#title">
            {{- with .Page -}}
            <button class="mx-2 w-24 h-10 rounded-full {{ if $isMenuCurrent }}text-gray-800 bg-{{.Params.twColor}}{{ end }} hover:text-gray-800 hover:bg-{{.Params.twColor}}">
                {{ .Title }}
            </button>
            {{- end -}}
        </a>
    {{ end }}
    {{/*  <a href="/photos/">
        <button class="w-32 h-12 rounded-full hover:text-gray-800 hover:bg-red-400">
            Photos
        </button>
    </a>
    <button class="w-32 h-12 rounded-full mx-1.5 hover:text-gray-800 hover:bg-blue-400">
        Projects
    </button>
    <button class="w-32 h-12 rounded-full hover:text-gray-800 hover:bg-green-400">
        Notes
    </button>  */}}
</nav>
<script>
    var prevScrollpos = window.pageYOffset;
    var prevScrollposTime = Date.now();
    window.onscroll = function() {
        if (Date.now - prevScrollposTime > 500) {
            var currentScrollPos = window.pageYOffset;
            prevScrollposTime = Date.now();
            if (prevScrollpos > currentScrollPos) {
                document.getElementById("navbar").style.visibility = "visible";
            } else {
                document.getElementById("navbar").style.visibility = "hidden";
            }
            prevScrollpos = currentScrollPos;
        }
    } 
</script>